ol{
    font-size: 18px;
    color: blue;
    
}
p{
    color: red;
}
h2{
    font-size: 50px;
    color: blue;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
td{
    border: 1px solid blue;
    padding: 10px 30px;
    background-color: rgb(111, 242, 247);

}
th{
    border: 1px solid blue;
    padding: 10px 30px;
    background-color: rgb(7, 26, 107);
    color: white;
}
.semantic{
    font-size: 25px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.seman{
    text-decoration: underline;
    text-align: center;
    color: rgb(104, 7, 7);
    font-size: 50px;
}
.animate{
    border: 1px solid red;

}
.animation{
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}
@keyframes slidein{
    from{
        margin-left: 300%;
    }
    to{
        margin-left: 0%;
    }
}
.transform{
    background-color: blue;
    height: 300px;
    width: 300px;
    transform: skew(45deg);
    transition: 5s;
}
.fab{
    font-size: 100px;
    color:blue;

}